* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #ffffcc;
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    color: white;
    overflow: hidden;
  }
  
  
 

  .icon {
    color: black;
    --ionicon-stroke-width: 20px;
    font-size: 55px;
  }
  
 .card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  
  nav{
    background-color: #6adc47;
    color: #fff;
    padding: 30px 60px;
    
    display: flex;
    justify-content: space-between;
  }
  h4{
    font-size: 40px;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  nav li {
    list-style: none;
  }
  
  nav li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
  }
  nav li a:hover {
    color: #fff;
    text-decoration: none;
  }
  nav li:not(:last-child)::after {
    color: black;
    font-weight: bold;
    content: " | ";
    margin-right: 5px; /* Dodatkowy odstęp między znakiem a tekstem */
  }
  
  .container.mt-4{
    background-color: #ffffcc;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .table {
    width: 100%;
    margin-top: 10px;
}

/* Stylizacja komórek w tabeli */
.table td, .table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Stylizacja nagłówków kolumn w tabeli */
.table th {
    background-color: #f2f2f2;
}


.tables-container {
  display: flex;
  justify-content: center; /* Centrowanie w poziomie */
  align-items: center; /* Centrowanie w pionie */
  height: 80vh; /* Wysokość równa 100% widoku */
}

.table-wrapper {
  max-height: 500px;
  overflow-y: auto;
}

.table td.ingredients {
    white-space: pre-line;  
}

#recipes-table td:nth-child(4) {
    white-space: pre-line;  
    width: 200px;  
}

